/*properties of the wrapper*/
.wrapper {
        width: 820px;
        height: 796px;
        margin: 0 auto;
        padding: 57px 70px 30px;
        background: url(../img/background.jpg);
        background-color: #000;
        background-repeat: no-repeat;
        background-position: center;
}
/*properties for header (logo block + contacts block)*/
.logo {
        float:left;
        width: 266px;
        height: 147px;
        background-image: url(../img/palm-tree.png);
        background-position: right;
        background-repeat: no-repeat;
}

.logo img {
        padding: 75px 0 9px;
}

.logo p {
        padding-bottom: 11px;
        padding-left: 84px;
        color: #e6e6e6;
        font: normal 10.16px "Tahoma", sans-serif;
}

.contacts {
        float: right;
        padding-top: 96px;
        padding-right: 17px;
        color: #e6e6e6;
        font: normal 8.47px/1.2 "Tahoma", sans-serif;
}

.contacts h4 {
        color: #e6e6e6;
        font: normal 10.16px/1 "Tahoma", sans-serif;
}

.phone {
        display: block;
        padding-top: 8px;
        padding-bottom: 4px;
}

.countries div {
        float: left;
        width: 33%;
        margin-right: .5%;
}

.countries div:nth-child(3n) {
        margin-right: 0;
}

.country {
        display: block;
        color: #e6e6e6;
        font: normal 15.24px/1 "Tahoma", sans-serif;
        text-align: center;
}

.india,
.nepal,
.tibet {
        margin-bottom: 50px;
}
/*properties of "clearfix"*/
.clearfix:after {
        content: '';
        clear: both;
        display: block;
}
/*properties for footer*/
footer {
        padding-top: 174px;
        color: #e6e6e6;
        font: normal 10.16px "Tahoma", sans-serif;
        text-align: center;
}
